@import './libs/variables';
@import './libs/placeholders';
@import './libs/mixins';

@import './libs/animations';
@import './libs/headerfooter';
@import './libs/accueil';
@import './libs/components';
@import './libs/primary-content';




//main
* {
    box-sizing: border-box;
}
body { 
    background: $white;
    width: 100%;
    height: 100%;
    max-width: $mobwidth;
    margin: 4px;
    font-family: $default;
    color: $black;
    font-size: $txsize;
}
h1 p {
    justify-content: center;
}

h4 {
    line-height: 0%;
}
a {
 text-decoration:none; 
 color: $black;
} 

