.loader, .spinner, body {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header, .information {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*loader*/
.loader {
  position: absolute;
  background-color: #f7f7f7;
  margin: auto;
  width: 100%;
  height: 100%;
  cursor: wait;
  z-index: 1;
}

#hidden {
  -webkit-animation: hidden 9s ease-out forwards;
          animation: hidden 9s ease-out forwards;
}

@-webkit-keyframes hidden {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes hidden {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.lettre {
  opacity: 0;
  font-family: "Shrikhand";
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 200px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: flash 0.8s 2 ease-out;
          animation: flash 0.8s 2 ease-out;
}

.lettre.lettre:nth-child(1) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.lettre.lettre:nth-child(2) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.lettre.lettre:nth-child(3) {
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

.lettre.lettre:nth-child(4) {
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}

.lettre.lettre:nth-child(5) {
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}

.lettre.lettre:nth-child(6) {
  -webkit-animation-delay: 6.1s;
          animation-delay: 6.1s;
}

.lettre.lettre:nth-child(7) {
  -webkit-animation-delay: 7.1s;
          animation-delay: 7.1s;
}

.lettre.lettre:nth-child(8) {
  -webkit-animation-delay: 8.1s;
          animation-delay: 8.1s;
}

@-webkit-keyframes flash {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
    opacity: 0.7;
  }
  50% {
    color: #99E2D0;
    text-shadow: none;
    opacity: 0.7;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
    opacity: 0.7;
  }
  50% {
    color: #99E2D0;
    text-shadow: none;
    opacity: 0.7;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
    opacity: 0;
  }
}

.spinner {
  position: absolute;
  border: 12px solid #99E2D0;
  border-top: 12px solid #ff79da;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.8s linear 10;
          animation: spin 0.8s linear 10;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

header {
  margin-bottom: 100px;
  width: 100%;
  height: 100%;
  height: 34px;
}

header > a {
  padding: 20px 100px 20px 20px;
}

#logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
}

.information {
  line-height: 20px;
}

.information > a {
  color: #fff;
}

footer > h2 {
  font-family: "Shrikhand";
  font-size: 42px;
}

body {
  background: #fff;
  width: 100%;
  height: 100%;
  max-width: 480px;
  margin: 4px;
  font-family: "Roboto";
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}
/*# sourceMappingURL=style.css.map */