/* Error: Undefined variable.
 *    ,
 * 25 |   background-image: url(#{$assetPath});
 *    |                           ^^^^^^^^^^
 *    '
 *   sass\libs\_mixins.scss 25:27  @import
 *   sass\style.scss 3:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 25 \2502    background-image: url(#{$assetPath});\d\a    \2502                            ^^^^^^^^^^\a    \2575 \a   sass\\libs\\_mixins.scss 25:27  @import\a   sass\\style.scss 3:9           root stylesheet";
}
